---
import Section from "./Section.astro";

---

<Section title="Model S" subtitle="After Est. Gas Savings" color="black">
    <div slot="footer" class="gap-x-6 flex mx-auto">
        <a class="bg-gray-600 text-sm rounded font-medium text-white px-8 py-2 inline-block transition-colors hover:bg-black hover:text-white" href="#">Explore Inventory</a>
        <a class="bg-white text-sm rounded font-medium text-black px-12 py-2 inline-block transition-colors hover:bg-black hover:text-white" href="#">Demo Drive</a>
    </div>
    <div slot="background" class="absolute top-0 bottom-0 h-full w-full z-10">
        <img src="/public/models.avif" alt="Model 3" class="h-full w-full object-cover" />
    </div>
</Section>


